<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="true"
         syntaxCheck="true"
         bootstrap="./vendor/autoload.php"
        >
    <testsuites>
        <testsuite name="unit">
            <directory>./tests/unit</directory>
        </testsuite>
        <testsuite name="integration">
            <directory>./tests/integration</directory>
        </testsuite>
        <testsuite name="mongo_integration">
            <directory>./tests/integration/mongo</directory>
        </testsuite>
        <testsuite name="memcached_integration">
            <directory>./tests/integration/memcached</directory>
        </testsuite>
        <testsuite name="sql_integration">
            <directory>./tests/integration/sql</directory>
        </testsuite>
    </testsuites>
    <logging>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
    </logging>
    <filter>
        <blacklist>
            <directory>./vendor</directory>
        </blacklist>
    </filter>
</phpunit>
